#board {
    display: flex;
    flex-wrap: wrap;
    width: 625px;
    height: 625px;
}

.square {
    display: flex;
    background-color: grey;
}

.square_activated {
    display: flex;
    background-color: rgb(97, 22, 22);
}